html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  background-color: #222222;
  font-family: "adelle-sans", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  color: #cccccc; }

a {
  color: inherit;
  text-decoration: none; }

pre {
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  border-bottom: 1px solid #111;
  border-right: 1px solid #111;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }

.detail pre code {
  font-family: "droid-sans-mono", sans-serif;
  font-size: .9em;
  padding: 0 2.2em 1.5em 2.2em; }

#left, #right {
  width: 50%;
  float: left;
  margin-top: 40px; }

.small-tag, #left ul li ul li, .detail .content .tags li {
  display: inline;
  font-size: .75em;
  position: relative;
  margin: 0 2px 0 0;
  padding: 2px 6px;
  color: #333;
  font-weight: bold;
  background-color: #ececec;
  border: 1px solid #AAA;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #999999));
  background: -webkit-linear-gradient(top, #f9f9f9, #999999);
  background: -moz-linear-gradient(top, #f9f9f9, #999999);
  background: -o-linear-gradient(top, #f9f9f9, #999999);
  background: linear-gradient(top, #f9f9f9, #999999);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
  text-shadow: rgba(255, 255, 255, 0.2) -1px -1px 0, rgba(0, 0, 0, 0.2) 1px 1px 1px;
  -webkit-background-size: 100% 200%;
  -moz-background-size: 100% 200%;
  background-size: 200% 200%;
  background-repeat: repeat; }

#left {
  border-right: 1px solid #cccccc;
  text-align: right;
  margin-left: -1px; }
  #left ul {
    list-style: none; }
    #left ul li {
      margin: 20px 20px 20px 20px;
      padding: 5px 20px;
      color: #cccccc;
      font-weight: bold;
      position: relative;
      -webkit-transition: all 0.15s;
      -moz-transition: all 0.15s;
      -o-transition: all 0.15s;
      transition: all 0.15s; }
      #left ul li .projectTitle {
        float: right;
        line-height: 1.1em;
        font-family: "adelle-sans", sans-serif;
        font-size: 2.6em;
        margin-bottom: 10px; }
      #left ul li ul {
        clear: both; }
      #left ul li .caption {
        position: relative;
        z-index: 10;
        min-height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 0;
        left: -60px;
        opacity: 0;
        font-size: .75em;
        text-align: center;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
        -webkit-transition: all 0.15s;
        -moz-transition: all 0.15s;
        -o-transition: all 0.15s;
        transition: all 0.15s;
        -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); }
        #left ul li .caption p {
          padding: 20px;
          text-align: left;
          font-weight: normal;
          line-height: 1.5em; }
      #left ul li .showCaption {
        left: 0;
        opacity: 1;
        -webkit-transition: all 0.15s;
        -moz-transition: all 0.15s;
        -o-transition: all 0.15s;
        transition: all 0.15s; }
      #left ul li .pointer {
        position: absolute;
        right: -13px;
        top: 0;
        width: 0;
        height: 0;
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
        border-left: 13px solid black;
        margin-top: 0; }
    #left ul li:hover {
      background-color: #333333;
      cursor: pointer;
      -webkit-transition: all 0.15s;
      -moz-transition: all 0.15s;
      -o-transition: all 0.15s;
      transition: all 0.15s; }

#right {
  position: fixed;
  top: 0;
  right: 0; }

.inactive {
  opacity: 0.4; }

#tags ul {
  list-style: none;
  margin: 20px 20px 20px 35px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
  #tags ul li {
    position: relative;
    float: left;
    color: #333;
    font-size: .8em;
    font-weight: bold;
    background-color: #ececec;
    padding: 4px 15px;
    margin: 0 5px;
    border: 1px solid #AAA;
    cursor: pointer;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #999999));
    background: -webkit-linear-gradient(top, #f9f9f9, #999999);
    background: -moz-linear-gradient(top, #f9f9f9, #999999);
    background: -o-linear-gradient(top, #f9f9f9, #999999);
    background: linear-gradient(top, #f9f9f9, #999999);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
    text-shadow: rgba(255, 255, 255, 0.2) -1px -1px 0, rgba(0, 0, 0, 0.2) 1px 1px 1px;
    -webkit-background-size: 100% 200%;
    -moz-background-size: 100% 200%;
    background-size: 200% 200%;
    background-repeat: repeat; }
    #tags ul li div {
      position: absolute;
      right: -21px;
      top: 0;
      background-color: rgba(200, 200, 200, 0.9);
      width: 20px;
      height: 100%;
      text-align: center;
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      color: #666;
      -webkit-transition: all 0.15s;
      -moz-transition: all 0.15s;
      -o-transition: all 0.15s;
      transition: all 0.15s;
      -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2); }
      #tags ul li div p {
        margin-top: 4px; }
    #tags ul li .tagOver {
      right: 0;
      -webkit-transition: all 0.15s;
      -moz-transition: all 0.15s;
      -o-transition: all 0.15s;
      transition: all 0.15s; }
  #tags ul li:hover {
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
    background-position: 0 50%; }
  #tags ul .inactive:hover {
    opacity: 1; }

#about {
  color: #cccccc;
  margin: 100px 0 0 20px;
  clear: both; }
  #about h2, #about p, #about .link {
    margin: 20px;
    display: block; }
  #about h2 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.3em; }
  #about .link, #about p {
    margin: 10px 80px 20px 20px; }
  #about .link {
    color: inherit;
    text-decoration: none;
    padding: 10px 0 10px 10px;
    margin: 0 80px 10px 10px;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s; }
  #about .link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s; }

nav {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(100%, #111111));
  background: -webkit-linear-gradient(top, #222222, #111111);
  background: -moz-linear-gradient(top, #222222, #111111);
  background: -o-linear-gradient(top, #222222, #111111);
  background: linear-gradient(top, #222222, #111111);
  height: 50px;
  border-bottom: 1px solid black; }
  nav * {
    float: left;
    color: #cccccc;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.05) -1px -1px 0, black 1px 1px 0; }
  nav .arrow {
    width: 10%;
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s; }
    nav .arrow a {
      width: 100%;
      height: 100%;
      line-height: 50px; }
  nav .arrow:hover {
    background: #222;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s; }
  nav .nextPost {
    float: right;
    border: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.1); }
    nav .nextPost a {
      border-left: 1px solid black; }
  nav div {
    width: 100%;
    border-left: 1px solid black;
    line-height: 1.2em;
    height: 50px; }
    nav div * {
      float: none; }
    nav div .post_info, nav div a {
      width: auto;
      display: inline-block;
      border: 0;
      margin: 0; }
    nav div .post_info {
      position: relative;
      top: -11px; }
    nav div h1 {
      margin-top: 2px; }
    nav div .date {
      font-size: .6em;
      font-family: "droid-sans-mono", sans-serif;
      color: gray; }
    nav div .github {
      border-right: solid 1px #000;
      border-left: solid 1px #000;
      outline: solid 1px #333;
      margin-left: 10px;
      -webkit-transition: all 0.15s;
      -moz-transition: all 0.15s;
      -o-transition: all 0.15s;
      transition: all 0.15s; }
    nav div .github:hover {
      background-color: #333;
      -webkit-transition: all 0.15s;
      -moz-transition: all 0.15s;
      -o-transition: all 0.15s;
      transition: all 0.15s; }

.detail header {
  clear: both;
  height: 200px;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid #111;
  position: relative;
  background-position-x: -40%;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
  .detail header div {
    height: 199px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
.detail .content {
  width: 80%;
  margin: 0 auto; }
  .detail .content .tags {
    position: relative;
    top: -35px;
    text-align: center; }
    .detail .content .tags li {
      margin: 0 5px; }

footer {
  clear: both;
  text-align: center;
  margin-top: 80px;
  border-top: 1px solid #111;
  background-color: #23241F;
  color: #666666;
  font-size: .8em;
  font-family: "droid-sans-mono", sans-serif;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
  footer div {
    padding: 10px 0;
    border-top: 1px solid #333; }
  footer .teh {
    color: #66D9EF; }
  footer .andy {
    color: #A6E22E; }
  footer a {
    padding: 5px 0;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s; }
  footer a:hover {
    background-color: #333;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s; }
